@model List<ECoupoun.Data.Category>
<ul>
    <li class="product_list col-md-12">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6">
                    <div class="home_category">
                        <a href="/@item.Category1.MappingName/@item.MappingName">
                            <span class="categoryimg_box">
                                <img src="~/Areas/Admin/Uploads/@item.Image" alt="...">
                            </span>
                            <div class="categoryCaption">
                                <span>@item.Name</span>
                            </div>
                        </a>
                    </div>
                </div>
            }
            @*<div class="col-md-6">
                <div class="home_category">
                    <a href="/buy_Monitor">
                        <span class="categoryimg_box">
                            <img src="http://www.dealspricer.in/static/images/category/type/led-monitor.png" alt="...">
                        </span>
                        <div class="categoryCaption">
                            <span>Monitor</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="home_category">
                    <a href="/buy_Monitor">
                        <span class="categoryimg_box">
                            <img src="http://www.dealspricer.in/static/images/category/type/led-monitor.png" alt="...">
                        </span>
                        <div class="categoryCaption">
                            <span>Monitor</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="home_category">
                    <a href="/buy_Monitor">
                        <span class="categoryimg_box">
                            <img src="http://www.dealspricer.in/static/images/category/type/led-monitor.png" alt="...">
                        </span>
                        <div class="categoryCaption">
                            <span>Monitor</span>
                        </div>
                    </a>
                </div>
            </div>*@
        </div>

    </li>
</ul>
