@model List<ECoupoun.Entities.Products>
@{
    ViewBag.Title = "Home Page";
}
@*@ViewBag.ResponseText
    @using (Html.BeginForm("BestBuyInsertData", "Home", FormMethod.Post))
    {
        <input type="submit" value="Get BestBuy Data" />
    }

    @using (Html.BeginForm("WalmartInsertData", "Home", FormMethod.Post))
    {
        <input type="submit" value="Get Walmart Data" />
    }

    @using (Html.BeginForm("EBayInsertData", "Home", FormMethod.Post))
    {
        <input type="submit" value="Get Ebay Data" />
    }*@

@*<div class="main">
        <div class="container">
            <!-- BEGIN SIDEBAR & CONTENT -->
            <div class="row margin-bottom-40">
                <!-- BEGIN CONTENT -->
                <div class="col-md-12 col-sm-7">
                    <!-- BEGIN PRODUCT LIST -->
                    <div class="row product-list">

                        @foreach (var item in Model)
                        {
                             <!-- PRODUCT ITEM START -->
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="product-item">
                                    <div class="pi-img-wrapper">
                                        <img src="@item.Image" class="img-responsive" alt="Berry Lace Dress">

                                    </div>
                                    <h3><a href="shop-item.html">@item.Name.Substring(0, 10)</a></h3>
                                    <div class="pi-price">@item.SalePrice</div>
                                    <a href="#" class="btn btn-default add2cart">Add to cart</a>
                                </div>
                            </div>
                             <!-- PRODUCT ITEM END -->
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>*@
<div id="page-content" class="inner-sidebar-right">
    <!-- eStore Content -->
    <div class="row">
        <div class="col-lg-3">
            <a href="#modal-package" class="widget animation-fadeInQuick" data-toggle="modal">
                <div class="widget-image widget-image-xs">
                    <img src="img/placeholders/photos/photo1.jpg" alt="image">
                    <div class="widget-image-content">
                        <div class="pull-right text-light-op"><strong>OFFER!</strong></div>
                        <h2 class="widget-heading text-light"><strong>Mountain Experience</strong></h2>
                        <h3 class="widget-heading text-light-op">1-5 People</h3>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="text-muted"><em>ITEM #1556452</em></div>
                            <div class="text-dark push-bit">10 Packages Available</div>
                        </div>
                        <div class="col-lg-5 text-right">
                            <h2><span class="text-muted">$</span> <strong>299</strong></h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="#modal-package" class="widget animation-fadeInQuick" data-toggle="modal">
                <div class="widget-image widget-image-xs">
                    <img src="img/placeholders/photos/photo19.jpg" alt="image">
                    <div class="widget-image-content">
                        <h2 class="widget-heading text-light"><strong>Nature Package</strong></h2>
                        <h3 class="widget-heading text-light-op">1-3 People</h3>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="text-muted"><em>ITEM #8541236</em></div>
                            <div class="text-danger push-bit">Only 3 Packages Available!</div>
                        </div>
                        <div class="col-lg-5 text-right">
                            <h2><span class="text-muted">$</span> <strong>199</strong></h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="#modal-package" class="widget animation-fadeInQuick" data-toggle="modal">
                <div class="widget-image widget-image-xs">
                    <img src="img/placeholders/photos/photo22.jpg" alt="image">
                    <div class="widget-image-content">
                        <h2 class="widget-heading text-light"><strong>City Tour</strong></h2>
                        <h3 class="widget-heading text-light-op">1-5 People</h3>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="text-muted"><em>ITEM #9585412</em></div>
                            <div class="text-danger push-bit">Only 1 Package Available!</div>
                        </div>
                        <div class="col-lg-5 text-right">
                            <h2><span class="text-muted">$</span> <strong>69</strong></h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="#modal-package" class="widget animation-fadeInQuick" data-toggle="modal">
                <div class="widget-image widget-image-xs">
                    <img src="img/placeholders/photos/photo11.jpg" alt="image">
                    <div class="widget-image-content">
                        <div class="pull-right text-light-op"><strong>NEW!</strong></div>
                        <h2 class="widget-heading text-light"><strong>Italian Pizza Night</strong></h2>
                        <h3 class="widget-heading text-light-op">2 People</h3>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="text-muted"><em>ITEM #1238741</em></div>
                            <div class="text-dark push-bit">30 Packages Available</div>
                        </div>
                        <div class="col-lg-5 text-right">
                            <h2><span class="text-muted">$</span> <strong>49</strong></h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="#modal-package" class="widget animation-fadeInQuick" data-toggle="modal">
                <div class="widget-image widget-image-bottom widget-image-xs">
                    <img src="img/placeholders/photos/photo14.jpg" alt="image">
                    <div class="widget-image-content">
                        <div class="pull-right text-light-op"><strong>OFFER!</strong></div>
                        <h2 class="widget-heading text-light"><strong>Cooking Class</strong></h2>
                        <h3 class="widget-heading text-light-op">1-2 People</h3>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="text-muted"><em>ITEM #6517841</em></div>
                            <div class="text-dark push-bit">100+ Packages Available</div>
                        </div>
                        <div class="col-lg-5 text-right">
                            <h2><span class="text-muted">$</span> <strong>29</strong></h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="#modal-package" class="widget animation-fadeInQuick" data-toggle="modal">
                <div class="widget-image widget-image-xs">
                    <img src="img/placeholders/photos/photo12.jpg" alt="image">
                    <div class="widget-image-content">
                        <h2 class="widget-heading text-light"><strong>Wine Testing</strong></h2>
                        <h3 class="widget-heading text-light-op">2 People</h3>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="text-muted"><em>ITEM #6985213</em></div>
                            <div class="text-dark push-bit">50 Packages Available</div>
                        </div>
                        <div class="col-lg-5 text-right">
                            <h2><span class="text-muted">$</span> <strong>59</strong></h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="#modal-package" class="widget animation-fadeInQuick" data-toggle="modal">
                <div class="widget-image widget-image-xs">
                    <img src="img/placeholders/photos/photo12.jpg" alt="image">
                    <div class="widget-image-content">
                        <h2 class="widget-heading text-light"><strong>Wine Testing</strong></h2>
                        <h3 class="widget-heading text-light-op">2 People</h3>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="text-muted"><em>ITEM #6985213</em></div>
                            <div class="text-dark push-bit">50 Packages Available</div>
                        </div>
                        <div class="col-lg-5 text-right">
                            <h2><span class="text-muted">$</span> <strong>59</strong></h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="#modal-package" class="widget animation-fadeInQuick" data-toggle="modal">
                <div class="widget-image widget-image-xs">
                    <img src="img/placeholders/photos/photo12.jpg" alt="image">
                    <div class="widget-image-content">
                        <h2 class="widget-heading text-light"><strong>Wine Testing</strong></h2>
                        <h3 class="widget-heading text-light-op">2 People</h3>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="text-muted"><em>ITEM #6985213</em></div>
                            <div class="text-dark push-bit">50 Packages Available</div>
                        </div>
                        <div class="col-lg-5 text-right">
                            <h2><span class="text-muted">$</span> <strong>59</strong></h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="#modal-package" class="widget animation-fadeInQuick" data-toggle="modal">
                <div class="widget-image widget-image-xs">
                    <img src="img/placeholders/photos/photo12.jpg" alt="image">
                    <div class="widget-image-content">
                        <h2 class="widget-heading text-light"><strong>Wine Testing</strong></h2>
                        <h3 class="widget-heading text-light-op">2 People</h3>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="text-muted"><em>ITEM #6985213</em></div>
                            <div class="text-dark push-bit">50 Packages Available</div>
                        </div>
                        <div class="col-lg-5 text-right">
                            <h2><span class="text-muted">$</span> <strong>59</strong></h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="#modal-package" class="widget animation-fadeInQuick" data-toggle="modal">
                <div class="widget-image widget-image-xs">
                    <img src="img/placeholders/photos/photo12.jpg" alt="image">
                    <div class="widget-image-content">
                        <h2 class="widget-heading text-light"><strong>Wine Testing</strong></h2>
                        <h3 class="widget-heading text-light-op">2 People</h3>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="text-muted"><em>ITEM #6985213</em></div>
                            <div class="text-dark push-bit">50 Packages Available</div>
                        </div>
                        <div class="col-lg-5 text-right">
                            <h2><span class="text-muted">$</span> <strong>59</strong></h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="#modal-package" class="widget animation-fadeInQuick" data-toggle="modal">
                <div class="widget-image widget-image-xs">
                    <img src="img/placeholders/photos/photo12.jpg" alt="image">
                    <div class="widget-image-content">
                        <h2 class="widget-heading text-light"><strong>Wine Testing</strong></h2>
                        <h3 class="widget-heading text-light-op">2 People</h3>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="text-muted"><em>ITEM #6985213</em></div>
                            <div class="text-dark push-bit">50 Packages Available</div>
                        </div>
                        <div class="col-lg-5 text-right">
                            <h2><span class="text-muted">$</span> <strong>59</strong></h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="#modal-package" class="widget animation-fadeInQuick" data-toggle="modal">
                <div class="widget-image widget-image-xs">
                    <img src="img/placeholders/photos/photo12.jpg" alt="image">
                    <div class="widget-image-content">
                        <h2 class="widget-heading text-light"><strong>Wine Testing</strong></h2>
                        <h3 class="widget-heading text-light-op">2 People</h3>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="text-muted"><em>ITEM #6985213</em></div>
                            <div class="text-dark push-bit">50 Packages Available</div>
                        </div>
                        <div class="col-lg-5 text-right">
                            <h2><span class="text-muted">$</span> <strong>59</strong></h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="#modal-package" class="widget animation-fadeInQuick" data-toggle="modal">
                <div class="widget-image widget-image-xs">
                    <img src="img/placeholders/photos/photo12.jpg" alt="image">
                    <div class="widget-image-content">
                        <h2 class="widget-heading text-light"><strong>Wine Testing</strong></h2>
                        <h3 class="widget-heading text-light-op">2 People</h3>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="text-muted"><em>ITEM #6985213</em></div>
                            <div class="text-dark push-bit">50 Packages Available</div>
                        </div>
                        <div class="col-lg-5 text-right">
                            <h2><span class="text-muted">$</span> <strong>59</strong></h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="#modal-package" class="widget animation-fadeInQuick" data-toggle="modal">
                <div class="widget-image widget-image-xs">
                    <img src="img/placeholders/photos/photo12.jpg" alt="image">
                    <div class="widget-image-content">
                        <h2 class="widget-heading text-light"><strong>Wine Testing</strong></h2>
                        <h3 class="widget-heading text-light-op">2 People</h3>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="text-muted"><em>ITEM #6985213</em></div>
                            <div class="text-dark push-bit">50 Packages Available</div>
                        </div>
                        <div class="col-lg-5 text-right">
                            <h2><span class="text-muted">$</span> <strong>59</strong></h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="#modal-package" class="widget animation-fadeInQuick" data-toggle="modal">
                <div class="widget-image widget-image-xs">
                    <img src="img/placeholders/photos/photo12.jpg" alt="image">
                    <div class="widget-image-content">
                        <h2 class="widget-heading text-light"><strong>Wine Testing</strong></h2>
                        <h3 class="widget-heading text-light-op">2 People</h3>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="text-muted"><em>ITEM #6985213</em></div>
                            <div class="text-dark push-bit">50 Packages Available</div>
                        </div>
                        <div class="col-lg-5 text-right">
                            <h2><span class="text-muted">$</span> <strong>59</strong></h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="#modal-package" class="widget animation-fadeInQuick" data-toggle="modal">
                <div class="widget-image widget-image-xs">
                    <img src="img/placeholders/photos/photo12.jpg" alt="image">
                    <div class="widget-image-content">
                        <h2 class="widget-heading text-light"><strong>Wine Testing</strong></h2>
                        <h3 class="widget-heading text-light-op">2 People</h3>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="text-muted"><em>ITEM #6985213</em></div>
                            <div class="text-dark push-bit">50 Packages Available</div>
                        </div>
                        <div class="col-lg-5 text-right">
                            <h2><span class="text-muted">$</span> <strong>59</strong></h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="#modal-package" class="widget animation-fadeInQuick" data-toggle="modal">
                <div class="widget-image widget-image-xs">
                    <img src="img/placeholders/photos/photo12.jpg" alt="image">
                    <div class="widget-image-content">
                        <h2 class="widget-heading text-light"><strong>Wine Testing</strong></h2>
                        <h3 class="widget-heading text-light-op">2 People</h3>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="text-muted"><em>ITEM #6985213</em></div>
                            <div class="text-dark push-bit">50 Packages Available</div>
                        </div>
                        <div class="col-lg-5 text-right">
                            <h2><span class="text-muted">$</span> <strong>59</strong></h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- END eStore Content -->
</div>