<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="ECoupounEntities" connectionString="metadata=res://*/ECoupoun.csdl|res://*/ECoupoun.ssdl|res://*/ECoupoun.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SWAPNIL-PC\SQLEXPRESS;initial catalog=ECoupoun;user id=sa;password=pass123!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="DayOfWeek" value="Sunday" />
    <add key="WeeklyeventTriggerTime" value="00" />
    <add key="RESTServiceURL" value="http://localhost:8081/EcouponRESTfulAPI/BestBuyRESTService.svc/json/" />
    <!--<add key="RESTServiceURL" value="http://localhost:58017/BestBuyRESTService.svc/json/" />-->
  </appSettings>
</configuration>