@model List<ECoupoun.Entities.ProductModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}
@section scripts
{
    <script type="text/javascript">
        var manufacturer, provider;
        //$('.selectpicker').selectpicker({
        //});
        $(document).on('click', '.dropdown-menu li a', function (e) {
            manufacturer = $("#Manufacturer").val() ? $("#Manufacturer").val().toString() : '';
            provider = $("#Provider").val() ? $("#Provider").val().toString() : '';
            $.ajax({
                url: "/Ajax/Product/GetProductList",
                data: { sortBy: $("#sort").val(), manufacturer: manufacturer, provider: provider },
                type: "post",
                success: function (data) {
                    $(".productList").html(data);
                }
            });
        });

        $(document).on("click", ".btnApply", function () {
            manufacturer = $("#Manufacturer").val() ? $("#Manufacturer").val().toString() : '';
            provider = $("#Provider").val() ? $("#Provider").val().toString() : '';
            $.ajax({
                url: "/Ajax/Product/GetProductList",
                data: { sortBy: $("#sort").val(), manufacturer: manufacturer, provider: provider },
                type: "post",
                success: function (data) {
                    $(".productList").html(data);
                }
            });
        });

        $(document).on("click", ".btnClear", function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#" + $(this).data("selectid")).selectpicker('deselectAll');
        });

        // Cache selectors outside callback for performance. 
        var $window = $(window),
            $stickyEl = $('.productFilter'),
            elTop = $stickyEl.offset().top;

        $window.scroll(function () {
            $stickyEl.toggleClass('navbar-fixed-top sticky', $window.scrollTop() > elTop);
        });
    </script>
}
<div class="content_top">
    <div class="back-links">
        @Html.Raw(ViewBag.BreadCrumb)
    </div>
    <div class="clear"></div>
</div>
<div class="section group">
    <div id="filters" class="cont-desc span_1_of_2 productFilter">
        <select id="sort" name="sort" class="selectpicker" data-done-button="true" data-none-selected-text="Sort By">
            <option value="low">Price: Low to High</option>
            <option value="high">Price: High to Low</option>
        </select>
        @*<select class="selectpicker" multiple data-done-button="true" data-none-selected-text="Price">
            <option>2</option>
        </select>*@

        @Html.DropDownList("Manufacturer", (IEnumerable<SelectListItem>)ViewBag.ManufacturerList, new { @class = "selectpicker", @multiple = "multiple", @data_done_button = "true", data_none_selected_text = "Brand", data_clear_button_select_id = "Manufacturer",data_live_search="true" })

        @Html.DropDownList("Provider", (IEnumerable<SelectListItem>)ViewBag.ProviderList, new { @class = "selectpicker", @multiple = "multiple", @data_done_button = "true", data_none_selected_text = "Store", data_clear_button_select_id = "Provider",data_live_search="true" })

    </div>
</div>
<div class="section group">
    <div class="cont-desc span_1_of_2 productList">
        @{Html.RenderPartial("_ProductPartial", Model);}
    </div>

    @* @if (ViewBag.SubCategories.Count > 0)
    {
        <div class="rightsidebar span_3_of_1">
            <h2>CATEGORIES</h2>
            <ul>
                @foreach (var item in ViewBag.SubCategories)
                {
                    <li><a href="/buy_sub_@item.MappingName">@item.Name</a></li>
                }
            </ul>
        </div>
    }*@
</div>
