@model List<ECoupoun.Data.Category>
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}
<div class="content_top">
    <div class="back-links">
        @Html.Raw(ViewBag.BreadCrumb)
    </div>   
    <div class="clear"></div>
</div>
<div class="section group">
    <div class="cont-desc span_1_of_2">
        <div class="row">
            @foreach (var item in Model)
            {

                <div class="col-sm-6 col-md-4">
                    <div class="category">
                        <a href="/buy_@item.MappingName">
                            <span class="categoryimg_box">
                                <img src="@item.Image" alt="...">
                            </span>
                            <div class="categoryCaption">
                                <span>@item.Name.Split(' ')[0]</span>
                            </div>
                        </a>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
